body {
    margin: 0;
    padding:0;
}

h3{
    font-size: 20px;
}

.header{
    font-size: 50px;
    /*text-align: center;*/
    background-color: rgb(14, 31, 84);
    height: 100px;
    display: flex;
    justify-content: center; /*水平方向上的对齐方式*/
    align-items: center ; /*垂直方向上的对齐方式*/
    font-weight: bold;
    color: rgb(250, 244, 244);
}

.login{
    margin:100px 200px;
    text-align: center;
}

form{
    margin: 0 auto;
    max-width: 300px;
    text-align: center;
}
button{
    margin: 10px
}
input{
    margin: 5px 0;
}
label{
    font-size: 20px;
}

.content{
    font-size: 20px;
    text-align: center;
}